.navbar-brand{
    font-style: oblique;
}

.links{
    font-style: oblique;
}
body{
    margin: 0;
    text-align: center;
    background-color: aqua;
    background-image: url(fundohtml.jpg)
    
}
.text1{
    color: aliceblue;

    
}

.text2{
    color: aliceblue;


}
.windows1 {
    border-radius: 30px;
    width: 40%;
    height: 320px;
    margin-top: 90px; }

.princpo1{
    margin-top: 90px;
}

.texo3 {
    margin-top: 70px;
}

.name3 {
    margin-top: 20px;
}

.name4 {
    margin-top: 30px;
}

.name5 {
    margin-top: 90px;
    margin-left: 240;
}


#início {
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    font-style: oblique;
}
#sobre {
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    font-style: oblique;
}


#explore {
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.windows12 {
    margin-top: 90px;
    float: left;
    margin-right: 15px;
    width: 500px;
    height: 500px;
}

#download {
    bottom: 0;
    display: table;
    width: 70%;
    height: 30%;
    z-index: 9;
}

#contatos {
    bottom: 0;
    display: table;
    width: 70%;
    height: 30%;
    z-index: 9;}

.contatos1 h4 {
    margin-top: 30px;
    display: inline;
    padding-bottom:30px;
}
.text2 {
    margin-top: 280px;
}
iframe{
    margin-top: 200px;
    border-style: groove;
    border-radius: 10px;
    border-color: #FFFFFF;  
    border-width: 5px;
    }

    .texo2{
        margin-top: 100px;
    }
    